* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 830px;
    margin: auto;
}

header {
    border-bottom: 2px solid orange;
    margin-right: 10px;
}

.header-logo {
    text-align: right;
    margin-top: 10px;
    margin-right: 20px;
}

.content {
    display: flex;
    margin-right: 10px;
}

.left-background {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.background-img {
    height: 165px;
}

.left-menu ul li {
    position: relative;
    list-style-type: none;
    color: rgb(17, 17, 128);
    margin: 10px;
}

.left-menu ul li a {
    text-decoration: none;
    color: rgb(17, 17, 128);
}

.left-menu ul li a:hover {
    color: yellow;
}

.li-border {
    position: relative;
    border-bottom: 2px dashed rgb(174, 88, 31);
    width: 150px;
}

.right {
    margin-left: 40px;
}

.title {
    font-weight: bold;
    color: orange;
    font-size: 25px;
    margin: 20px;
    margin-left: 30px;
}

.picture {
    position: relative;
    margin-left: 20px;
}

.box1 {
    width: 165px;
    background-color: beige;
    border-top: 3px solid rgb(86, 86, 86);
    border-left: 3px solid rgb(86, 86, 86);
    border-bottom: 3px solid rgb(195, 194, 194);
    border-right: 3px solid rgb(195, 194, 194);
    position: absolute;
    top: 140px;
    right: 350px;
}

.box2 {
    width: 170px;
    background-color: beige;
    border-top: 3px solid rgb(86, 86, 86);
    border-left: 3px solid rgb(86, 86, 86);
    border-bottom: 3px solid rgb(195, 194, 194);
    border-right: 3px solid rgb(195, 194, 194);
    position: absolute;
    top: 400px;
    left: 420px;
}

.box3 {
    width: 170px;
    background-color: beige;
    border-top: 3px solid rgb(86, 86, 86);
    border-left: 3px solid rgb(86, 86, 86);
    border-bottom: 3px solid rgb(195, 194, 194);
    border-right: 3px solid rgb(195, 194, 194);
    position: absolute;
    top: 570px;
    right: 350px;
}

.box-text {
    margin: 10px;
    color: brown;
    font-size: 14px;
}

footer {
    text-align: center;
    border-top: 2px solid orange;
}

.footer-text {
    text-transform: uppercase;
    color: orange;
    margin-top: 5px;
    margin-left: 10px;
    line-height: 30px;
}